@media only screen and (max-width: 720px){
    .content #find-donor-form > *{
        flex-direction: column;
        width: 100%;
        margin: 4px;
    }}

    @media only screen and (max-width: 720px){
        .content #find-donor-form {
            flex-direction: column;
            width: 100%;
            margin: 4px;
        }}

        /* end section search responsive */


        /* start section search-table responsive */
        #donors-table {
            margin-top: 32px;
            width: 60%;
        }
        @media screen and (max-width: 992px){
        table {
            display: block;
        }}
        
        @media screen and (max-width: 992px){
        table > *, table tr, table td, table th {
            display: block;
        }}
        
        @media screen and (max-width: 992px){
        tr:first-child {
            display: none;
        }}
        @media screen and (max-width: 992px){
        table tbody tr {
            height: auto;
            padding: 24px 0;
        }}
        table td, table th {
            text-align: left;
        }
        table tr > td:first-child {
            border-left-width: 1px;
        }
        @media screen and (max-width: 992px){
        table tbody tr td {
            padding-left: 50% !important;
        }}
        @media screen and (max-width: 992px){
        table th, table td {
            border: none;
        }}
        @media screen and (max-width: 992px){
        table > *, table tr, table td, table th {
            display: block;
        }}
        @media screen and (max-width: 992px){
        #donors-table tbody tr td:nth-child(1):before {
            content: "Donor name";
        }}
        @media screen and (max-width: 992px){
        table tbody tr td:before {
            color: #999999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 50%;
            left: 30px;
        }}
        
        @media screen and (max-width: 992px){
        #donors-table tbody tr td:nth-child(2):before {
            content: "Province";
        }}
        @media screen and (max-width: 992px){
        
        table tbody tr td:before {
            color: #999999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 50%;
            left: 30px;
        }}
        
        @media screen and (max-width: 992px){
        #donors-table tbody tr td:nth-child(3):before {
            content: "Daïra";
        }}
        @media screen and (max-width: 992px){
        table tbody tr td:before {
            color: #999999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 50%;
            left: 30px;
        }}
        @media screen and (max-width: 992px){
        #donors-table tbody tr td:nth-child(4):before {
            content: "Phone";
        }}
        @media screen and (max-width: 992px){
        table tbody tr td:before {
            color: #999999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 50%;
            left: 30px;
        }}
        @media screen and (max-width: 992px){
        #donors-table tbody tr td:nth-child(5):before {
            content: "Blood type";
        }}
        
        @media screen and (max-width: 992px){
        table tbody tr td:before {
            color: #999999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 50%;
            left: 30px;
        }}
        
        @media screen and (max-width: 992px){
        #donors-table tbody tr td:nth-child(6):before {
            content: "Contact type";
        }}
        @media screen and (max-width: 992px){
        table tbody tr td:before {
            color: #999999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 50%;
            left: 30px;
        }}
        
        @media screen and (max-width: 992px){
        #donors-table tbody tr td:nth-child(7):before {
            content: "Contact time";
        }}
        
        @media screen and (max-width: 992px){
        table tbody tr td:before {
            color: #999999;
            line-height: 1.2;
            font-weight: unset;
            position: absolute;
            width: 50%;
            left: 30px;
        }}

        /* end section search-table responsive */


@media all and (max-width: 575.98px){
    .footer-copyright p,.footer-social{
      padding-bottom: 5px;
text-align: center;

    }}
    @media all and (max-width: 575.98px){
        .footer-copyright p,.page{
          padding-bottom: 5px;
    text-align: center;
    
        }}
    @media all and (min-width: 576px) and (max-width: 767.98px) {
        .footer-copyright p,.footer-social,.page{
    padding-bottom: 5px;
    text-align: center;
    
        }
        }
        @media screen and (max-width: 991px){
        nav .navbar-brand img {
            padding: 5px;
            margin-top: 0px;
            max-width: 370px;
        }}
        @media screen and (max-width: 991px){
            .tittel {
        font-size:25px ;
            }}
            @media screen and (max-width: 991px){
                .header .header-content h2  {
                font-size:20px ;
                }}
    
            @media screen and (max-width: 991px){
                .header .header-content h5  {
                font-size:15px ;
                }}
                @media screen and (max-width: 991px){
                    .header .header-content button {
                        border: 1px solid #dc3545;
    
                padding: 10px;
                margin-top: 20px;
                width: 130px;
                margin-left: 35px;
                font-weight: 600;
                font-size: 12px;

                    }}
                    @media screen and (max-width: 991px){
                        .header   {
                            background-image: url(../imge/as/g8.jpg);
                        }}
                